*{
    margin: 0;
    padding: 0;
}
.Reg{}
form{
    position: relative;
    top: 25%;
    width: 270px;
}
#Email{
    border: solid 5px;
    padding: 10px;
    margin: 5px 0 0 5px;
}
#Senha{
    border: solid 5px;
    padding: 10px;
    margin: 5px 0 0 5px;
}
#LogIn{
    margin: 10px;
    border: solid 3px;
    border-radius: 10px;
    padding: 10px;
}
fieldset{
    position: absolute;
    top: 25%;
    left: 25%;
    margin: 10px;
    height: 300px;
    width: 600px;
    border: solid 3px;
    box-shadow: 10px 10px;
    text-align: center;
}